.navbar-default {
 	background-color: #314d73;
	background-image: none;
}

.navbar-default a {
	color: #f0f8ff;
}

.navbar-default a:hover {
	text-decoration: none;
	color: #f4a460;
}

.panel-default, .panel-default > .panel-heading {
 	border-color: #c0ae2b;
	background-image: none;
}

.btn {
	background-color: #314d73;
	background-image: none;
	color: #f0f8ff;
	text-shadow: none;
}

.btn-default:focus {
	background-color: #314d73;
	background-image: none;
	color: #f0f8ff;
	text-shadow: none;
}

.spacer {
	margin: 3% 0;
}

.footer {
	font-style: italic;	
}

.start-button {
	text-decoration: none;
}

#panel {
	display: none;
}

img {
	width: 250px;
	height: 300px;
}

.error-message {
	background: #e7c43c;
    border: 2px solid #e7c43c;
	color: #000;
	width: auto;
}