.navbar-default {
 	background-color: #e7c43c;
 	border-color: #c0ae2b;
	background-image: none;
}

.navbar-default a {
	color: #000;
}

.navbar-default a:hover {
	text-decoration: none;
	color: #f0f8ff;
}

.panel-default, .panel-default > .panel-heading {
 	border-color: #c0ae2b;
	background-image: none;
}

.btn {
	background-color: #e7c43c;
	background-image: none;
}

.spacer {
	margin: 3% 0;
}

.footer {
	font-style: italic;	
}

.start-button {
	text-decoration: none;
}

#panel {
	display: none;
}

img {
	width: 250px;
	height: 300px;
}

.error-message {
	background: #ffeca4;
    border: 2px solid #f16702;
	width: auto;
}